* {
    scroll-behavior: smooth;
}

.div-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.glass-container {
    background: rgba(255, 255, 255, 0.403);
    color: #ffffffa1;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(240, 240, 240, 0.068);
}

.cursor {
    background-color: #4b00f9;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .cursor {
        display: none;
    }
}